.text{
	font-weight: bold;
}

.easy{
	font-size: 40px;
	font-weight: bolder;
}

.ahead{
	font-size: 40px;
	font-weight: bold;
	color: blue;
}

.calendly{
	font-size: 15px;
}

.email{
	border-radius: 10px;
	height: 50px;
	width: 200px;
	padding-left: 20px;

}

.butt{
	background-color: black;
	color: white;
	border-radius: 10px;
	height: 40px;
	width: 90px;
}
.text-2{
	background-color:#ededed;
	height: 200px;
	margin-bottom: 50px;
}

.simplified{
	margin-top: 70px;
	font-weight: bold;
	padding-top: 50px;
}

.span-text{
	color: blue;
}
.body1{
	height: 50px;
	position: relative;
	top: -29px;
	left: 15px;
	font-weight: bolder;
	font-size: 20px;
	line-height: 23px;

}

.body2{
	border-left: solid #d4d4d4 0.5px;
	height: 150px;
	position: relative;
	top: -70px;
}
.con{
	margin-left: 150px;
}